*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
a {
    text-decoration: none;
    list-style: none;
}
a {
    font-weight: bold;
    color: black;
    padding-inline: 15px;
    font-size: 20px;

    &.router-link-exact-active {
        color: $mainRed;
        text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    }
}

.wrap {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 120px;
    @include responsive(phone){
        margin-top: 120px;
    }
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
body{
    background-color: hsl(0deg, 0%, 95%);
}