.profile{
    width: 100%;
    background-color: $bgcolor;
    border: 1px solid $mainRed;
    @include flex(column);
    align-items: center;
    & h1{
    margin: 15px;

    }
    &_div{
    @include flex(column);
    margin: 15px;

    & *{
    margin: 15px;

    }
    }
    &_post{
        margin-top: 20px;
        background-color: $bgcolor;
        width: 100%;
        @include flex(column);
        align-items: center;
    }
    &_button button{
        width: 150px;
        margin-bottom: 15px;
    }
    &_post_list{
        height: 100px;
    }
}

.profilepageimg{
    max-height: 200px;
    max-width: 300px;
}