a{
    text-decoration: none;
}
.v-main__wrap{
    background-color: hsl(0deg 0% 95%);
}
.center{
    justify-content: center;
}
.small_hide{
    @include responsive(phone){
        display: none;
    }
}
.wordbreakN{
    word-break: normal;
}