nav {
    padding: 2px;
    @include flex;
    position: absolute;
    right: 30px;
    top: 45px;
    justify-content: flex-end;
    overflow: hidden;

}

img {
    height: 170px;
    display: block;
    margin: auto;
}