nav {
    padding-right: 30px;
    top: -30px;
    @include flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    justify-content: flex-end;
    & a{
        padding-left: 20px;
        padding-right: 20px;
    };
    @include responsive(desktop){
        justify-content: center;
    }
}

#banner {
    height: 170px;
    display: block;
    margin: auto;
}

#dcbutton{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    & img{
        width: 35px;
        height: 35px;
    }
    cursor: pointer;
}