#newpostbutton{
    background-color: $bgcolor;
    height: 35px;
    border-radius: 25px;
    margin-bottom: 5px;
    transition: all 0.2s ease-out;
    box-shadow: none;
    width: 35px;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
    &:hover{
        width: 325px;

    }
    & a{
        color: $mainRed;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 325px;
        & img{
            margin-left: -16px;
        }
        & h3{
            margin-left: 10px;
            height: 24px;
        }
    }
}