.com{
    &_user{
        @include flex(column);
        align-items: center;
        &_nameplate{
            flex-direction: column;
            justify-content: center;
        }
        &_name{
            word-break: normal;
            @include responsive(phone){
                font-size: 0.9rem
            }
        }
    }
    &_content{
        @include flex(column);
    }
    &_btn{
        @include flex(column);
        justify-content: flex-end;
        &_text{
            @include responsive(tablet){
                display: none;
            }
        }
    }
}